extends layout

append head
  link(href='https://fonts.googleapis.com/css?family=Lora', rel='stylesheet', type='text/css')

block content
  .message
    .message__line#message
  .bonfire
  a(href='/create').leave-a-message 
    img(src='/images/soapstone.png', alt='Pick up the Soapstone')

append javascript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js')
  script(src='/javascripts/show.js')
