doctype html
html(lang="en")
  head
    script.
      // redirect for legacy codes
      if (location.hash) {
        location.href = '/' + location.hash.substring(1);
      }
    title Red Sign Soapstone
    link(href="https://fonts.googleapis.com/css?family=Lora", rel="stylesheet", type="text/css")
    link(href="/css/builder.css", rel="stylesheet", type="text/css")
  body
    #builder(v-cloak)
      .selects
        .part-one
          label(for="template-one") Template
          select(name="template-one", v-model="templateOne")
            option(v-for="(template, index) in templates", v-bind:value="index") {{ template }}

          br

          label(for="category-one") Word
          select(name="category-one", v-model="selectedCategoryOne")
            option(v-for="(category, name) in categories") {{ name }}
          select(name="word-one", v-model="wordOne", v-if="wordsOne")
            option(v-for="(word, index) in wordsOne") {{ word }}


        .conjunction
          label(for="conjunction") Conjunction
          select(name="conjunction", v-model="conjunction")
            option(v-for="(conjunction, index) in conjunctions", v-bind:value="index") {{ conjunction }}

        .part-two(v-if="templateOne !== null && wordOne !== null && conjunction !== null")
          label(for="template-two") Template
          select(name="template-two", v-model="templateTwo")
            option(v-for="(template, index) in templates", v-bind:value="index") {{ template }}

          br

          label(for="category-two") Word
          select(name="category-two", v-model="selectedCategoryTwo")
            option(v-for="(category, name) in categories") {{ name }}
          select(name="word-two", v-model="wordTwo", v-if="wordsTwo")
            option(v-for="(word, index) in wordsTwo") {{ word }}

      a(:href="'/' + code", v-if="code") https://soapstone.retzudo.com/{{ code }}

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js")
    script(src="js/build.js")
