extends layout

block content
  h1#message Dark Souls message

append javascript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js')
  script(src='/javascripts/show.js')
